<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, I have summarized Data Science Tools and Ecosystem.

**Objectives**:
* Listing popular Languages used by Data Scientists
* Listing some libraries used in Data Science
* Listing some Tools used for Data Science
* Showing an example of arithmetic expressions in Python
* Creating Tables in Markdowns
* Creating Unordered Lists
* Creating Ordered lists

Some popular languages used by Data Scientists are:
1. Python
2. R language
3. SQL
4. Java
5. Scala

Some Libraries used by Data Scientists are:
1. MathPLotLib
2. Numpy
3. Pandas

|Data Science Tools|
--------------------
|R Studio|
|GitHub|
|Jupyter Notebook|

### Some examples of arithmetic expressions in python

In [7]:
### this is an example to show arithmetics of basic addition and mutiplication in python
sum = (3*4)+5
print (sum)

17

In [9]:
### This a code block to convert 200 minutes to hours by diving by 60
time_min = 200
time_hr = time_min / 60
print (time_hr)

3.3333333333333335

## Author
Ekanem Samuel